In [1]:
import pandas as pd

In [26]:
df = pd.read_excel (r'C:\Users\jliao\Desktop\Finance Dimension Tables (091120).xlsx') #place "r" before the path string to address special character, such as '\'. Don't forget to put the file name at the end of the path + '.xlsx'
print (df)

    Dimensions  Unnamed: 1    Year  Unnamed: 3  Scenario  Unnamed: 5  \
0         Year         NaN  2030.0         NaN    Budget         NaN
1     Scenario         NaN  2029.0         NaN    Actual         NaN
2      Version         NaN  2028.0         NaN  Forecast         NaN
3       Period         NaN  2027.0         NaN   Q1 Fcst         NaN
4     Currency         NaN  2026.0         NaN   Q2 Fcst         NaN
5      Segment         NaN  2025.0         NaN   Q3 Fcst         NaN
6      Company         NaN  2024.0         NaN   Q4 Fcst         NaN
7   Department         NaN  2023.0         NaN  Jan Fcst         NaN
8     Location         NaN  2022.0         NaN  Feb Fcst         NaN
9      Project         NaN  2021.0         NaN  Mar Fcst         NaN
10        Game         NaN  2020.0         NaN  Apr Fcst         NaN
11      Vendor         NaN  2019.0         NaN  May Fcst         NaN
12     Account         NaN  2018.0         NaN  Jun Fcst         NaN
13      Amount         NaN     NaN         NaN  Jul Fcst         NaN
14         NaN         NaN     NaN         NaN  Aug Fcst         NaN
15         NaN         NaN     NaN         NaN  Sep Fcst         NaN
16         NaN         NaN     NaN         NaN  Oct Fcst         NaN
17         NaN         NaN     NaN         NaN  Nov Fcst         NaN
18         NaN         NaN     NaN         NaN  Dec Fcst         NaN

       Version                   Data  Unnamed: 8 Period   Period Name  \
0        Final            Static Load         NaN      1           Jan
1    Final Adj            Static Load         NaN      2           Feb
2    Final Alt  Sum Final & Final Adj         NaN      3           Mar
3      Working            Static Load         NaN      4           Apr
4    Version 1            Static Load         NaN      5           May
5    Version 2            Static Load         NaN      6           Jun
6    Version 3            Static Load         NaN      7           Jul
7    Version 4            Static Load         NaN      8           Aug
8    Version 5            Static Load         NaN      9           Sep
9    Version 6            Static Load         NaN     10           Oct
10   Version 7            Static Load         NaN     11           Nov
11   Version 8            Static Load         NaN     12           Dec
12   Version 9            Static Load         NaN     Q1            Q1
13  Version 10            Static Load         NaN     Q2            Q2
14  Version 11            Static Load         NaN     Q3            Q3
15  Version 12            Static Load         NaN     Q4            Q4
16  Version 13            Static Load         NaN     YT     YearTotal
17  Version 14            Static Load         NaN    YTD  Year-to-Date
18  Version 15            Static Load         NaN    NaN           NaN

                 Data.1  Unnamed: 12 Currency Unnamed: 14
0           Static Load          NaN      USD   US Dollar
1           Static Load          NaN      GBP   GB Pounds
2           Static Load          NaN      EUR        Euro
3           Static Load          NaN      BGN     BLG Lev
4           Static Load          NaN      ILS  ISL Shekel
5           Static Load          NaN      AUD  AUS Dollar
6           Static Load          NaN      NaN         NaN
7           Static Load          NaN      NaN         NaN
8           Static Load          NaN      NaN         NaN
9           Static Load          NaN      NaN         NaN
10          Static Load          NaN      NaN         NaN
11          Static Load          NaN      NaN         NaN
12     Sum of Jan - Mar          NaN      NaN         NaN
13        Sum Apr - Jun          NaN      NaN         NaN
14        Sum Jul - Sep          NaN      NaN         NaN
15        Sum Oct - Nov          NaN      NaN         NaN
16          Sum Q1 - Q4          NaN      NaN         NaN
17  Sum of Year to date          NaN      NaN         NaN
18                  NaN          NaN      NaN         NaN

In [49]:
df = pd.read_excel (r'C:\Users\jliao\Desktop\New folder\01.xlsm') #place "r" before the path string to address special character, such as '\'. Don't forget to put the file name at the end of the path + '.xlsx'
print (df)

                  Game     Game Provider partnerName clientPlatformName  \
0          50 Dolphins         Ainsworth     Borgata     desktopBrowser
1      African Diamond            Konami     Borgata         androidApp
2      African Diamond            Konami     Borgata     desktopBrowser
3      African Diamond            Konami     Borgata             iOSApp
4      African Diamond            Konami     Borgata      mobileBrowser
...                ...               ...         ...                ...
14299     Wild A Go-Go  Multimedia Games    Stations      mobileBrowser
14300     Winning Wolf         Ainsworth    Stations     desktopBrowser
14301     Winning Wolf         Ainsworth    Stations      mobileBrowser
14302           Zoltar  Multimedia Games    Stations     desktopBrowser
14303           Zoltar  Multimedia Games    Stations      mobileBrowser

       % of Gaming Rev  Royalty Fee (15%)          GGR  Gan revenue share  \
0            -0.002696         -11.821009   -84.023510         -39.078342
1             0.004152          18.204397   129.396509          60.180788
2            -0.010815         -47.416401  -337.034886        -156.750945
3             0.007359          32.263861   229.330919         106.659102
4             0.001535           6.729955    47.836394          22.248142
...                ...                ...          ...                ...
14299        -0.009996         -53.527576  -411.905647        -213.171604
14300         0.068225         365.354256  2811.475710        1455.009882
14301         0.000000           0.000000     0.000000           0.000000
14302         0.002647          14.174852   109.078386          56.450827
14303        -0.000010          -0.055929    -0.430386          -0.222736

       Contra revenue  Period   Year  excahnge rate  Converted GGR  \
0          -44.945168        1  2020       0.991412     -83.301907
1           69.215721        1  2020       0.991412     128.285237
2         -180.283941        1  2020       0.991412    -334.140391
3          122.671817        1  2020       0.991412     227.361399
4           25.588252        1  2020       0.991412      47.425569
...               ...      ...   ...            ...            ...
14299     -198.734043        1  2020       0.991413    -408.368453
14300     1356.465829        1  2020       0.991413    2787.332479
14301        0.000000        1  2020       0.991413       0.000000
14302       52.627559        1  2020       0.991413     108.141688
14303       -0.207650        1  2020       0.991413      -0.426690

       Converted Contra revenue   Converted Royalty Fee (15%)
0                     -44.559174                   -11.719489
1                      68.621288                    18.048055
2                    -178.735642                   -47.009183
3                     121.618297                    31.986775
4                      25.368497                     6.672157
...                          ...                          ...
14299                -197.027437                   -53.067914
14300                1344.817331                   362.216817
14301                   0.000000                     0.000000
14302                  52.175625                    14.053127
14303                  -0.205867                    -0.055449

[14304 rows x 15 columns]

In [50]:
df1 = pd.read_excel (r'C:\Users\jliao\Desktop\New folder\02.xlsm') #place "r" before the path string to address special character, such as '\'. Don't forget to put the file name at the end of the path + '.xlsx'

In [38]:
df1.head

<bound method NDFrame.head of                   Game     Game Provider  partnerName    clientPlatformName  \
0          50 Dolphins         Ainsworth  Borgata Sim        desktopBrowser
1      African Diamond            Konami  Borgata Sim            androidApp
2      African Diamond            Konami  Borgata Sim        desktopBrowser
3      African Diamond            Konami  Borgata Sim                iOSApp
4      African Diamond            Konami  Borgata Sim         mobileBrowser
...                ...               ...          ...                   ...
14455           Zoltar  Multimedia Games      WinStar            androidApp
14456           Zoltar  Multimedia Games      WinStar        desktopBrowser
14457           Zoltar  Multimedia Games      WinStar                iOSApp
14458           Zoltar  Multimedia Games      WinStar         mobileBrowser
14459           Zoltar  Multimedia Games      WinStar  Unknown/Pre-Tracking

       % of Gaming Rev  Royalty Fee (15%)         GGR  Gan revenue share  \
0             0.017850          60.928271  426.508683         193.444317
1             0.002614           8.923229   62.464182          28.330821
2            -0.008127         -27.739831 -194.183726         -88.072623
3             0.023161          79.058186  553.421295         251.005920
4             0.000946           3.229269   22.605456          10.252773
...                ...                ...         ...                ...
14455         0.000023           0.622214    4.580698           2.503192
14456         0.000257           7.072881   52.070123          28.454513
14457         0.000032           0.872660    6.424472           3.510751
14458         0.000150           4.132053   30.419922          16.623431
14459         0.000000           0.000000    0.000000           0.000000

       Contra revenue  Period   Year  excahnge rate  Converted GGR  \
0          233.064367        2  2020       1.012136     431.684582
1           34.133361        2  2020       1.012136      63.222216
2         -106.111104        2  2020       1.012136    -196.540244
3          302.415376        2  2020       1.012136     560.137342
4           12.352682        2  2020       1.012136      22.879784
...               ...      ...   ...            ...            ...
14455        2.077506        2  2020       1.012136       4.636287
14456       23.615609        2  2020       1.012136      52.702020
14457        2.913721        2  2020       1.012136       6.502436
14458       13.796491        2  2020       1.012136      30.789083
14459        0.000000        2  2020       1.012136       0.000000

       Converted Contra revenue   Converted Royalty Fee (15%)
0                     235.892720                    61.667667
1                      34.547587                     9.031517
2                    -107.398816                   -28.076468
3                     306.085339                    80.017597
4                      12.502588                     3.268458
...                          ...                          ...
14455                   2.102717                     0.629764
14456                  23.902197                     7.158714
14457                   2.949081                     0.883250
14458                  13.963919                     4.182197
14459                   0.000000                     0.000000

[14460 rows x 15 columns]>

In [55]:
df = pd.DataFrame()
df=df.append(df,df1,ignore_index=False)

TypeError: append() got multiple values for argument 'ignore_index'

In [51]:

df=pd.concat([df, df1])

In [54]:
df.shape

(0, 0)

In [29]:
import os
import pandas as pd
cwd = os.path.abspath(r'C:\Users\jliao\Desktop\New folder') 
files = os.listdir(cwd) 
df = pd.DataFrame()
for file in files:
     if file.endswith(r'C:\Users\jliao\Desktop\New folder\ .xlsm'):
        df = df.append(pd.read_excel(file), ignore_index=False) 
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: []
Index: []>

In [7]:
cwd

'C:\\Users\\jliao\\Desktop\\New folder'

In [8]:
files = os.listdir(cwd)

In [9]:
files

['01.xlsm', '02.xlsm', '03.xlsm', '04.xlsm', '05.xlsm', '06.xlsm']

In [59]:
df = pd.DataFrame()
for file in files:
     if file.endswith(r'C:\\Users\\jliao\\Desktop\\New folder\\ .xlsm'):
        df = df.append(pd.read_excel(file), ignore_index=False) 
df.head

<bound method NDFrame.head of Empty DataFrame
Columns: []
Index: []>

In [21]:
df

Empty DataFrame
Columns: []
Index: []