In [2]:
import pandas as pd

dfb = pd.read_csv (r'C:\Users\jliao\Desktop\data\data3b_weight_con.csv')
print (dfb)

      obs_ID  PRE_WEIGHT  POST_WEIGHT
0       2501    159.7587          NaN
1       2501         NaN     158.6920
2       2502    176.1611          NaN
3       2502         NaN     174.8270
4       2503    181.3907          NaN
...      ...         ...          ...
5007    4998         NaN     148.4603
5008    4999    152.5761          NaN
5009    4999         NaN     151.4074
5010    5000    137.5044          NaN
5011    5000         NaN     136.6286

[5012 rows x 3 columns]

In [2]:
dfb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5012 entries, 0 to 5011
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   obs_ID       5012 non-null   int64
 1   PRE_WEIGHT   2506 non-null   float64
 2   POST_WEIGHT  2506 non-null   float64
dtypes: float64(2), int64(1)
memory usage: 117.6 KB

In [3]:
df1=dfb.dropna(subset=['PRE_WEIGHT'])

In [4]:
df1.shape

(2506, 3)

In [5]:
df2=dfb.dropna(subset=['POST_WEIGHT'])

In [6]:
df1=df1.dropna(axis='columns')

In [7]:
df2=df2.dropna(axis='columns')

In [17]:
df1

      obs_ID  PRE_WEIGHT
0       2501    159.7587
1       2502    176.1611
2       2503    181.3907
3       2504    175.6615
4       2505    136.5405
...      ...         ...
2501    4996    158.4474
2502    4997    124.4973
2503    4998    147.3660
2504    4999    152.5761
2505    5000    137.5044

[2506 rows x 2 columns]

In [11]:
df1.reset_index(drop=True,inplace=True)

In [12]:
df2.reset_index(drop=True,inplace=True)

In [15]:
df=pd.merge(df1,df2)

In [16]:
df

      obs_ID  PRE_WEIGHT  POST_WEIGHT
0       2501    159.7587     158.6920
1       2502    176.1611     174.8270
2       2503    181.3907     179.9042
3       2504    175.6615     175.2032
4       2505    136.5405     137.9253
...      ...         ...          ...
2513    4996    158.4474     157.9015
2514    4997    124.4973     124.1172
2515    4998    147.3660     148.4603
2516    4999    152.5761     151.4074
2517    5000    137.5044     136.6286

[2518 rows x 3 columns]

In [25]:
#df1_ind = df1.set_index("obs_ID")

In [12]:
#df2_ind = df2.set_index("obs_ID")

In [8]:
df1[df1.groupby("obs_ID")["obs_ID"].transform('size')==2]

      obs_ID  PRE_WEIGHT
4958    4980    151.6736
4959    4980    151.7000
4962    4981    171.0954
4963    4981    171.1000
4966    4982    154.6500
4967    4982    154.6518
4970    4983    141.0200
4971    4983    141.0217
4974    4984    137.0652
4975    4984    137.1000
4978    4985    195.0055
4979    4985    195.0100

In [8]:
df1=pd.DataFrame(df1.groupby("obs_ID")["PRE_WEIGHT"].mean())

In [9]:
df2=pd.DataFrame(df2.groupby("obs_ID")["POST_WEIGHT"].mean())

In [30]:
#df1.index=range(len(df1))

In [15]:
df1=df1.reset_index()

In [11]:
df2=df2.reset_index()

In [22]:
df2.index=range(len(df2))

In [13]:
df.to_csv('df.csv')

In [12]:
df=pd.merge(df1,df2)

In [14]:
df

      obs_ID  PRE_WEIGHT  POST_WEIGHT
0       2501    159.7587     158.6920
1       2502    176.1611     174.8270
2       2503    181.3907     179.9042
3       2504    175.6615     175.2032
4       2505    136.5405     137.9253
...      ...         ...          ...
2495    4996    158.4474     157.9015
2496    4997    124.4973     124.1172
2497    4998    147.3660     148.4603
2498    4999    152.5761     151.4074
2499    5000    137.5044     136.6286

[2500 rows x 3 columns]

In [42]:
import pandas as pd
SRH = pd.read_csv (r'C:\Users\jliao\Desktop\data\data2_SRH.csv')
print (SRH)

         id  trt  TIME           SRH
0         1    1  POST          Poor
1         1    1   PRE          Good
2         2    1   PRE          Poor
3         2    1  POST     Very Poor
4         3    1   PRE  Satisfactory
...     ...  ...   ...           ...
10030  4998    0   PRE     Very Poor
10031  4999    0   PRE          Poor
10032  4999    0  POST          Poor
10033  5000    0  POST     Very Poor
10034  5000    0   PRE  Satisfactory

[10035 rows x 4 columns]

In [43]:
srh_post=pd.DataFrame(SRH[SRH["TIME"]=="POST"])

In [44]:
srh_post=srh_post.drop_duplicates(subset="id")

In [45]:
srh_post

         id  trt  TIME           SRH
0         1    1  POST          Poor
3         2    1  POST     Very Poor
5         3    1  POST          Good
7         4    1  POST          Good
8         5    1  POST          Poor
...     ...  ...   ...           ...
10025  4996    0  POST     Excellent
10028  4997    0  POST  Satisfactory
10029  4998    0  POST     Very Poor
10032  4999    0  POST          Poor
10033  5000    0  POST     Very Poor

[5000 rows x 4 columns]

In [46]:
srh_pre=pd.DataFrame(SRH[SRH["TIME"]=="PRE"])

In [47]:
srh_pre=srh_pre.drop_duplicates(subset="id")

In [48]:
srh_pre_ind["Pre_SRH"]=srh_pre_ind["SRH"]

In [49]:
srh_post_ind["Post_SRH"]=srh_post_ind["SRH"]

In [47]:
srh_post=srh_post.reset_index()

In [50]:
srh=pd.concat([srh_pre_ind,srh_post_ind],axis=1)

In [17]:
srh_pre_ind = srh_pre.set_index("id") 
print(srh_pre_ind )

      trt TIME           SRH       Pre_SRH
id
1       1  PRE          Good          Good
2       1  PRE          Poor          Poor
3       1  PRE  Satisfactory  Satisfactory
4       1  PRE          Poor          Poor
5       1  PRE          Poor          Poor
...   ...  ...           ...           ...
4996    0  PRE     Excellent     Excellent
4997    0  PRE          Good          Good
4998    0  PRE     Very Poor     Very Poor
4999    0  PRE          Poor          Poor
5000    0  PRE  Satisfactory  Satisfactory

[5000 rows x 4 columns]

In [12]:
srh_post_ind = srh_post.set_index("id") 
print(srh_post_ind )

      trt  TIME           SRH      Post_SRH
id
1       1  POST          Poor          Poor
2       1  POST     Very Poor     Very Poor
3       1  POST          Good          Good
4       1  POST          Good          Good
5       1  POST          Poor          Poor
...   ...   ...           ...           ...
4996    0  POST     Excellent     Excellent
4997    0  POST  Satisfactory  Satisfactory
4998    0  POST     Very Poor     Very Poor
4999    0  POST          Poor          Poor
5000    0  POST     Very Poor     Very Poor

[5000 rows x 4 columns]

In [24]:
srh.drop(columns=["TIME","SRH"],inplace=True)

In [36]:
subset=srh.columns

In [40]:
srh=srh[subset].T.drop_duplicates().T

In [41]:
srh.to_csv('srh.csv')

In [51]:
srh

,trt,TIME,SRH,Pre_SRH,trt,TIME,SRH,Post_SRH
id,,,,,,,,
1,1,PRE,Good,Good,1,POST,Poor,Poor
2,1,PRE,Poor,Poor,1,POST,Very Poor,Very Poor
3,1,PRE,Satisfactory,Satisfactory,1,POST,Good,Good
4,1,PRE,Poor,Poor,1,POST,Good,Good
5,1,PRE,Poor,Poor,1,POST,Poor,Poor
...,...,...,...,...,...,...,...,...
4996,0,PRE,Excellent,Excellent,0,POST,Excellent,Excellent
4997,0,PRE,Good,Good,0,POST,Satisfactory,Satisfactory
4998,0,PRE,Very Poor,Very Poor,0,POST,Very Poor,Very Poor
4999,0,PRE,Poor,Poor,0,POST,Poor,Poor
5000,0,PRE,Satisfactory,Satisfactory,0,POST,Very Poor,Very Poor